<h1>About</h1>
<h2>
This is an application designed to creatively visualize data.
Using  <a href="http://d3js.org/">D3js(Data-Driven Documents)</a>, anyone can upload a .tsv file and quickly make a bar graph, line graph, multi-line graph, pie graph, or a stacked bar graph. 
</h2>