
<h1><%= link_to 'Create a new visualization with existing dataset', new_graph_path %></h1>


<div id = "main-graph">
</div>
<div id = "graph-list">
</div>


<script>
  $("#main-graph").load("/show_simple/1");
  $("#graph-list").load("short_list");


</script>

