<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Creator</th>
    </tr>
  </thead>

  <tbody>
    <% @graphs.each do |graph| %>
      <tr>
        <td id ="<%=graph.id%>"class="graph-link"><%= graph.name %></td>
        <td><%=graph.graph_type.name%></td>
        <td><%=graph.user.name%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<script>
  $(".graph-link").on("click", function(event){
      $("#main-graph").load("/show_simple/" + event.target.id);
      history.pushState({}, '', "/graphs/" + event.target.id)
  });


</script>
