@charse "utf-8";
body {
  font: 1.5em, sans-serif;
}

a:hover{
  text-decoration: none;
   background-color: inherit;
}

text {
  font: 10px sans-serif;
  stroke-width: .5px;
  fill: black;
}

p {
  font-size: 1.5 em;
  color: steelblue;
}
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.graph-link{
  cursor: pointer;
}
.graph-link:hover{
  background-color: gray;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.land {
  fill: #ddd;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.bubble {
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}
.arc path {
  stroke: #fff;
}