@charse "utf-8";

.twitterbird img{
 margin-top: 13px;

}

.twitterbird:hover{
   color: #778899;
  text-decoration: none;
   background-color: transparent;
}

body {
font-size: 1.5em, sans-serif;
background-color: #f2f2f2;
font-family: "Roman","Helvetica Neue","Helvetica",Arial,sans-serif;
font-weight: normal;
-webkit-font-smoothing: antialiased;
}

#brand {
  color:black;
  font-weight: 900;
  }

#brand img {
  max-height: 50px;
  margin-top: -15px;

}

#brand img:hover{
 filter: brightness(0.2);
 -webkit-filter: brightness(0.2);
 cursor: pointer;
}


#new-graph-instructions h2{
margin-top: -1em;
}

a.navbar-brand{
font-weight: bolder;
font-size: 2em;
color:black;
}

#create-new a{
  color:#004C80;
  font-size: 1.5em;
}

text {
  font: 10px sans-serif;
  stroke-width: .5px;
  fill: black;
}

p {
  font-size: 1.5 em;
  color: #000080;
}

img.graph-menu {
  max-width: 100px;
  margin-bottom: 0.5em;
}

div.graph-menu:hover {
  background-color: #dcdcdc;
  cursor: pointer;

}

.bar {
  fill: #1F5875;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  //shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: #000;
  //shape-rendering: crispEdges;
}

.graph-link{
  cursor: pointer;
}
.graph-link:hover{
  background-color: gray;
}

.line {
  fill: none;
  stroke: #1F5875;
  stroke-width: 1.5px;
}

.land {
  fill: #ddd;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.bubble {
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}

g text.label {
  font-size: 12px;
}
.arc path {
  stroke: #fff;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}